@import url('https://fonts.googleapis.com/css2?family=Mitr:wght@200;300;400;700&display=swap');
:root {
    --primary-color: #f0c43f;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    width: 100vw;
    height: 100%;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

header {
    display: flex;
    justify-content: space-between;
    background-color: #e7e2eb;
    padding: 0 2rem;
    border-top: 3px solid #f0c43f;
    width: 100%;
    height: 4rem;
}


/* header .mcdonalds-logo { */


/* position: absolute; */


/* z-index: 2000; */


/* top: 2px; */


/* } */

.menu ul {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    /* background-color: #f0c43f; */
}

.menu ul li {
    /* display: inline-block; */
    margin: 1px;
    background-color: #e7e2eb;
    height: 100%;
}

.menu ul li a {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
    color: #333;
    font-size: 16px;
    height: 100%;
}

.menu>ul #giftcard {
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu>ul #giftcard a img {
    width: 27px;
    height: 19px;
}

.menu>ul #noqueue a img {
    height: 3rem;
}